@import "tailwindcss";

/* body {
  background-image: url('landing.jpg');
  background-size: cover;
  background-position: center;
  background-position: no-repeat;
} */

/* main{
  background-image: url('public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */